{{> header}}
<div class="row form-layout p-5">
    <div class="col-md-12">
        <div class="recepieInfo">
            <div class="detailsFoodImage">
                <img src="{{image}}" alt="">
            </div>

            <div class="infoPack">
                <h3 class="my-3">{{meal}}</h3>
                <p class="prep-method">{{method}}</p>
                <p class="description">{{description}}</p>
            </div>
            <div class="actions">
                {{#if isCreator}}
                <a class="btn btn-danger" href="#/delete/{{objectId}}">Archive</a>
                <a class="btn btn-info" href="#/edit/{{objectId}}">Edit</a>
                {{else}}
                <a class="btn btn-success" href="#/like/{{objectId}}"> {{likes}} likes</a>
                {{/if}}
            </div>
        </div>

        <div class="detailsIngredients">
            <h3 class="my-3 ingredient">Ingredients</h3>
            <ul>
                <li>{{ingredients}}</li>
            </ul>
        </div>
    </div>
</div>